.slide-content {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    padding: 88px 16px 88px 16px;
    box-sizing: border-box;
    background: linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,.75));
    border-radius: 0 0 8px 8px;
}