.header {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    -webkit-transition: all 420ms cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 420ms cubic-bezier(0.165, 0.84, 0.44, 1);
    background-image: -webkit-gradient( linear, left top, left bottom, from(rgba(30, 25, 43, 0.6)), to(rgba(30, 25, 43, 0)) );
    background-image: linear-gradient( to bottom, rgba(30, 25, 43, 0.6) 0, rgba(30, 25, 43, 0) );

    .header_container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: start;
        -webkit-transition: all 420ms cubic-bezier(0.165, 0.84, 0.44, 1);
        transition: all 420ms cubic-bezier(0.165, 0.84, 0.44, 1);
        padding: 0.6875rem 3.125rem;
        width: 100%;
    }
    .header_logo{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    img{
        width: 50px;
        height: auto;
    }

    .header_navigate{
        margin-left: 5rem;
        ul{
            margin: 0;
            padding: 0;
        }
        .navigation{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: start;
            list-style-type: none;

            li{
                margin-right: 2rem;
                a:active, a:hover {
                    outline: 0;
                }
                a {
                    position: relative;
                }
                a {
                    background-color: transparent;
                }
                a{

                    -webkit-transition: all 420ms cubic-bezier(0.165, 0.84, 0.44, 1);
                    transition: all 420ms cubic-bezier(0.165, 0.84, 0.44, 1);
                    text-decoration: none;
                    color: #fff;
                    font-size: 0.875em;
                    font-weight: 700;
                }

                a:not(.no-decoration):after {
                    position: absolute;
                    right: 0;
                    bottom: -3px;
                    left: 0;
                    transform: scaleX(0);
                    transform-origin: right;
                    transition: -webkit-transform 0.95s cubic-bezier(0.19, 1, 0.22, 1);
                    transition: transform 0.95s cubic-bezier(0.19, 1, 0.22, 1);
                    transition: transform 0.95s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.95s cubic-bezier(0.19, 1, 0.22, 1);
                    background-color: currentColor;
                    height: 0.075em;
                    min-height: 1px;
                    content: "";
                    -webkit-transform: scaleX(0);
                    -webkit-transform-origin: right;
                    -webkit-transition: -webkit-transform 0.95s cubic-bezier(0.19, 1, 0.22, 1);
                }
                a:not(.no-decoration):hover:after {
                    transform: scaleX(1);
                    transform-origin: left;
                    -webkit-transform: scaleX(1);
                    -webkit-transform-origin: left;
                }
            }
        }
    }
}