.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    display: grid;
    position: relative;
    -webkit-transition: all 420ms cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 420ms cubic-bezier(0.165, 0.84, 0.44, 1);
    background: #2c253a;
    padding: 1.125rem 3.125rem 3.125rem 3.125rem;
    width: 100%;
    grid-column-gap: 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;

    .footer_navigation{
        img{
            width: 50px;
            height: auto;
        }
        .navigation {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: flex-start;
            margin-top: 2.5rem;
            list-style-type: none;
            
            li{
                margin-right: 1.25rem;
                a:active, a:hover {
                    outline: 0;
                }
                a {
                    position: relative;
                }
                a {
                    background-color: transparent;
                }
                a{
                    -webkit-transition: all 420ms cubic-bezier(0.165, 0.84, 0.44, 1);
                    transition: all 420ms cubic-bezier(0.165, 0.84, 0.44, 1);
                    text-decoration: none;
                    color: #fff;
                    font-size: 0.875em;
                    font-weight: 700;
                }
                a:not(.no-decoration):after {
                    position: absolute;
                    right: 0;
                    bottom: -3px;
                    left: 0;
                    transform: scaleX(0);
                    transform-origin: right;
                    transition: -webkit-transform 0.95s cubic-bezier(0.19, 1, 0.22, 1);
                    transition: transform 0.95s cubic-bezier(0.19, 1, 0.22, 1);
                    transition: transform 0.95s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.95s cubic-bezier(0.19, 1, 0.22, 1);
                    background-color: currentColor;
                    height: 0.075em;
                    min-height: 1px;
                    content: "";
                    -webkit-transform: scaleX(0);
                    -webkit-transform-origin: right;
                    -webkit-transition: -webkit-transform 0.95s cubic-bezier(0.19, 1, 0.22, 1);
                }
                a:not(.no-decoration):hover:after {
                    transform: scaleX(1);
                    transform-origin: left;
                    -webkit-transform: scaleX(1);
                    -webkit-transform-origin: left;
                }
            }
        }
    }

    .footer_contact{
        align-self: flex-end;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: end;
        
        .footer_icon_contact{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;

            a { 
                color:#fff;
                position: relative;
                padding: 0.8125rem 1rem;
            }

            a[href]:hover { 
                color:#ff3200;
            }
            .hover-none {
                color:#fff;
            }

            a:after {
                position: absolute;
                top: 0;
                right: 0;
                background: #979797;
                width: 1px;
                height: 100%;
                content: "";
            }
        }
    }
}
@media(max-width:768px){
    .footer {
        grid-template-columns: repeat(1, 1fr);
        .footer_logo{
            display: flex;
            justify-content: center;
        }
        .footer_navigation{
            justify-content: center;
            .navigation {
                justify-content: center;
            }
        } 
        .footer_contact{
            justify-content: center;
            .footer_icon_contact{
                justify-content: center;
            }
        }
    }
    
}